body {
  background-image: url("Avatarmapedit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.aang{
border-radius: 50%; 
width:200px;
height:200px;
z-index:1;
}
.waternation{
  position: relative;
  z-index: 1;
  left: 280px;
  top: 290px;
  width: 130px;
  height: 130px;

}
.firenation{
  position: relative;
  z-index: 1;
  left: 15px;
  top: 30px;
  width: 130px;
  height: 130px;
}
.earthnation{
  position: relative;
  z-index: 1;
  left: 30px;
  bottom: 130px;
  width: 130px;
  height: 130px;
}
.airnomads{
  position: relative;
  z-index: 1;
  right: 100px;
  width: 130px;
  height: 130px;
  top: 280px;
}
.noSelect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.gameContainer {
	position:relative;
	width:440px;
	height:440px;
	margin:0 auto;
  margin-top: 125px;
  border: solid 1px rgb(223, 184, 132);
  background-color: rgb(190, 162, 108);
}

.fourButton {
	position:absolute;
	width:190px;
	height:190px;
  margin: 20px;
  pointer-events: none;
}
.fourButton:active {
  opacity: .5;
}
.activated {
  opacity: .5;
}
#buttonGre {
	top:0;
	left:0;
	background-color:rgba(69, 129, 69, 0.815);
	border-radius:0% 0 0 0;
  
}
#buttonRed {
	top:0;
	right:0;
	background-color:rgb(209, 42, 42);
	border-radius:0 0% 0 0 ;
}
#buttonYel {
	bottom:0;
	left:0;
	background-color:rgb(199, 202, 34);
	border-radius:0 0 0 0%;
}
#buttonBlu {
	bottom:0;
	right:0;
	background-color:rgb(31, 190, 238);
	border-radius:0 0 0% 0 ;
}
#center {
  position:absolute;
  background-color:rgba(221, 205, 159, 0);
  border: 20px solid rgb(201, 173, 121);
	width:200px;
	height:200px;
	top:120px;
	left:120px;
	border-radius:50%;
}
#textTitle {
  height: 70px;
  line-height: 90px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: black;
}
#countBox {
  vertical-align: top;
  display: inline-block;
  height: 50px;
  width: 50.3px;
}
#countDisplay {
  border: solid 3px black;
  border-radius: 20%;
  height: 50%;
  margin: 0px 6px 0px 6px;
  background: red;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
#countText {
  height: 30%;
  margin: 4px 6px 0px 6px;
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
}
#displayText {
  opacity: 0.3;
}
#startBox {
  vertical-align: top;
  display: inline-block;
  height: 50px;
  width: 50.4px;
}
#startButton {
  border: solid 3px black;
  border-radius: 50%;
  height: 50%;
  margin: 0px 12.7px 0px 12.7px;
  background: red;
  font-size: 20px;
  line-height: 17px;
  text-align: center;
}
#startText {
  height: 30%;
  margin: 4px 6px 0px 6px;
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
}
#onText {
  vertical-align: top;
  display: inline-block;
  height: 40px;
  line-height: 25px;
  width: 60px;
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-align: right;
}
#powerSwitch {
  background: grey;
  vertical-align: top;
  display: inline-block;
  border: solid 1px black;
  margin-top: 5px;
  height: 15px;
  width: 30px;
}
#buttonOn {
  visibility: hidden;
  background: green;
  vertical-align: top;
  display: inline-block;
  margin: 1px 2.8px 0px 1px;
  height: 10px;
  width: 12px;
}
#buttonOff {
  background: red;
  vertical-align: top;
  display: inline-block;
  margin: 1px 0px 0px 0px;
  height: 10px;
  width: 12px;
  position: relative;
  left: 15px;
  bottom: 20px;
}
#offText {
  vertical-align: top;
  display: inline-block;
  height: 40px;
  line-height: 25px;
  width: 60px;
  font-size: 10px;
  color: black;
  font-weight: bold;
}